<!DOCTYPE html>
<html lang="en">
<head>
     <title>Plant,Plant!--main--</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"></script>
    <style>
#myProgress {
  width: 50%;
  background-color: #ddd;
    position : absolute;
                left : 24%;
    top : 80%;
                display : inline-block;


}

#myBar {
  width: 10%;
  height: 40px;
  background-color: #696969;
  text-align: center;
  line-height: 40px;
  color: white;
}
</style>

        </head>

<body >
 <div style="background-color: #ffffff; margin-bottom: 0px; max-width: 100%; display: block; height: 100px; width: 80%; position: absolute; top: 200px; left: 25%;">
 <img src="{{ url_for('static', filename='icon/main.png') }}" width="900" height="500" class="center" align="middle">
 </div>
</body>
<body onload =move()>

<div id="myProgress" >
  <div id="myBar">loading...</div>
</div>


<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 10;
  var id = setInterval(frame, 55);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
      window.location.href='Seoul';
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = "로딩중입니다...";
    }
  }

}

</script>

</body>
</html>